* {
  padding: 0;
  margin: 0;
}
a {
  color: #337ab7;
}
p {
  margin-top: 2rem;font-size:32px;font-family:open sans-serif;text-align:center;
}


/* .invalid class prevents CSS from automatically applying */
.invalid input:required:invalid {
    background: #BE4C54;
  }
  
  /* Mark valid inputs during .invalid state */
  .invalid input:required:valid {
    background: #17D654;
  }
  #onload{
    display: block;
  }
  /* #pauseButton{
    display: none;
  }
  #stopButton{
    display: none;
  } */
  /* #age{
border: 1px solid #5cb85c;
  }
  #birthPlace{
    border: 1px solid #5cb85c;
  } */
  /* #submitBtn{
    display: none;
  } */